@use "../settings/variables";

.a-lead {
	color: variables.$text-gray-darker-color;
}

.a-lead-result {
	font-weight: normal;
	color: variables.$text-gray-darker-color;
	text-align: start;
}

.a-lead-clarify {
	color: variables.$text-gray-color;
}


