@use "../settings/variables";

.m-encrypt-zone {
	margin-block: variables.$space-20 variables.$space-16;

	&__clarify {
		display: flex;
		gap: variables.$space-2;
		align-items: center;
		margin-block: variables.$space-4;
	}

	&__buttons {
		display: flex;
		gap: variables.$space-6;
		flex-direction: column;
	}

	&__form {
		flex-grow: 1;
	}
}
